<h3>View Patient Details</h3>
<div>
    <div>
        <label><b>Patient Id:</b></label> {{patient.id}}
    </div>

    <div>
        <label><b>Patient Name:</b></label> {{patient.name}}
    </div>

    <div>
        <label><b>Visited doctor:</b></label> {{patient.visitedDoctor}}
    </div>
    <div>
        <label><b>Date of visited doctor:</b></label> {{patient.dateofVisit}}
    </div>
    <div>
        <label><b>Instructions</b></label>
        <p>
            1.Take medicines as prescribed.<br>
            2.Do Exercise as suggested.<br>
            3.Follow diet as planned.<br>
            4.Keep a positive mind that you are in goog hands.<br>
        </p>
    </div>
</div>